*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%
}

body{
    background-color: $bg-color;
    font-family: $font-txt;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}