*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5% /* 1rem = 10px */
}

body{
    font-family: $font-txt;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}